.App {

}

.Component {
  padding: 0 0.5em 0 0.5em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

nav {
  margin-bottom: 0.5em;
}

nav ul li {
  display: inline-block;
}

nav li a{
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111111;
}

.codeLookLike {
  white-space: pre-wrap;
  font-family: monospace;
  border-bottom: 1px solid #006;
  border-top: 1px solid #006;
  background: #ddf;
  padding: 2em;
  line-height: 1.2;
  text-align: left;
}